<p id="notice"><%= notice %></p>

<h1>Events</h1>
<table>
  <thead>
    <tr>
      <th>IssuesEvent</th>
       <th>IssuesCommentEvent</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @number_of_issue_event %></td>
        <td><%= @number_of_issue_comments %></td>
      </tr>
  </tbody>
</table>


